@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


*,
*:before,
*:after{
  box-sizing: border-box;
}

/*main styles*/

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  background-color: #f2f2f2;
}

.main-index {
  flex-grow: 1;
  text-align: center;
}

.main-inner {
  flex-grow: 1;
}

.container-index,
.container-catalog {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fff;
  min-height: 100%;
}

li {
  list-style: none;
}

.navigation-link-searched,.navigation-link-likes{
  display:block;
}

.navigation-link-searched{
  padding: 22px 12px;
}

.navigation-link-likes{
  padding: 24px 13px;
}

.likes{
  display:flex;
  position: relative;
  background: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  color:#FFF;
  border-radius: 10px;
  right:20px;
  bottom:10px;
  min-width: 20px;
  min-height: 20px;
  justify-content: center;
  align-items: center;
}

.navigation-link,
.navigation-button-link {
  display: block;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 16px;
}

.navigation-link-user {
  display: block;
}

.navigation-button-link {
  display: block;
  padding: 8px 50px;
  color: #fff;
  background-color: #756157;
  border-radius: 4px;
}

.visually-hidden {
  display: none;
}

.main-header,
.inner-header {
  display: flex;
  max-width: 1060px;
  max-height: 64px;
  margin: 0 auto;
  width: 100%;
}

.navigation {
  display: flex;
  flex-grow: 1;
}

.navigation-list,
.navigation-list-user {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-link-logotype {
  margin-right: 28px;
  z-index: 1;
}

/*main*/

.hero {
  background-image: url("../images/hills-of-sedona.jpg");
  background-repeat: no-repeat;
  min-height: 485px;
}

.h2-title,
.searched {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.searched {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  align-self: center;
}

.h3-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
  text-transform: uppercase;
}

.reasons-explanations,
.explanations-advantages,
.search-explanations,
.subscribe-promise {
  font-size: 22px;
  line-height: 26px;
  color: #333;
  padding: 0;
  margin: 0;
}

.reasons-header {
  min-height: 261px;
}

.reasons-haeder-container {
  padding: 69px 274px;
}

.hills-of-sedona {
  padding-top: 69px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reasons-with-image {
  display: flex;
  background-color: #82B3D3;
  color: #fff;
  min-height: 385px;
}

.reasons-image {
  height: 100%;
}

.reasons-card-secondary,
.advantages-item {
  max-width: 400px;
  min-height: 385px;
}

.reasons-card-secondary,
.advantages-card-secondary {
  background: rgba(131, 179, 211, 0.12);
}

.reasons-card-thirdy {
  width: 400px;
  min-height: 385px;
  background: rgba(131, 179, 211, 0.2);
}

.explanations-card {
  margin: 0;
  padding: 0;
}

.reasons-card-container,
.reasons-card-primary {
  padding: 125px 85px;
}

.reasons-card-primary p{
  margin: 0;
}

.advantages-header {
  min-height: 246px;
}

.advantages-header-container {
  height: 100%;
  padding: 64px 347px;
}

.advantages-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.advantages-card-container {
  padding: 81px 85px;
}

.search {
  min-height: 406px;
}

.search-container {
  padding: 96px 304px;
}

.search-explanations {
  margin-bottom: 54px;
}

.search-button-big {
  color: #fff;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border: 0;
  text-transform: uppercase;
}

.subscribes {
  min-height: 415px;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  color: #fff;
}

.subscribe-promise {
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.subscribe-form-container {
  display: flex;
}

.subscribe-container {
  padding: 96px 258px;
}

.h2-subscribe {
  margin-bottom: 20px;
}

.subscribe-email {
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
  border: 0;
}

.subscribe-button {
  padding: 8px 50px;
  background: #82B3D3;
  color: #fff;
  border-radius: 0 4px 4px 0;
  border: 0;
  font-size: 20px;
  line-height: 36px;
}

/*       footer          */


.main-footer {
  max-height: 120px;
  padding: 40px 70px 30px 70px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1060px;
  min-height: 50px;
}

.vkontakte-link,
.telegramm-link,
.youtube-link {
  display: block;
  margin: 13px 12px;
}


.social-club {
  display: flex;
  margin: 0;
  padding: 0;
  align-content: center;
}

.contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}


/*   catalog       */

.header-inner {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.header-inner {
  color: #fff;
  margin-bottom: 50px;
}

.header-inner-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
}

.header-inner-conteiner {
  padding: 35px 70px 70px 70px;
}

.catalog-filter {
  display: flex;
  flex-wrap: nowrap;
}

.catalog-filter-group {
  display: flex;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-header {
  display: flex;
  min-width: 338px;
  min-height: 36px;
  justify-content: center;
  max-width:1060px;
  margin: 0 auto;
}



.button {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 8px;
}

.button-image{
  display: block;
  margin: 17px 16px;
}

.button-black{
  border-color: #000;
}

.select-control{
  margin-right: 70px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  min-height:49px;
  min-width: 292px;
}

.button-view{
  margin-bottom:32px;
}

.searched {
  margin: 0;
  flex-grow: 1;
}

.catalog-products {
  display: flex;
  align-items:end;
}

.filter-button {
  display: flex;
  flex-direction: column;
  max-height: 104px;
}

.catalog-filter-group {
  border-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.control-input{
  margin:0;
  padding:0;
  margin-right:16px;
  min-width:20px;
  min-height: 20px;
}

.control{
  margin-bottom: 16px;
}

.catalog-filter-title{
  margin-bottom:32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog{
  margin-bottom:40px;
}

.catalog-filter-group-price{
  padding:0;
  margin:0;
  display: flex;
  border-style: none;
  margin-right:70px;
}


.min-price-fork-input{
  padding:20px;
  max-width: 143px;
  max-height: 48px;
  border-radius: 4px 0 0 4px;
  border:0;
  margin-right:2px;
}

.max-price-fork-input{
  padding:20px;
  max-width: 143px;
  max-height: 48px;
  border-radius:0 4px 4px 0;
  border:0;
}

.subscribes-inner {
  min-height: 415px;
  text-align: center;
}

.subscribe-inner-container {
  padding: 96px 258px;
}

.subscribe-inner-promise {
  font-size: 22px;
  line-height: 26px;
  color: #333;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.button-small {
  background-color: #82B3D3;
  border: 0;
  color: #fff;
  border-radius: 4px;
  padding: 8px 50px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.button-cancelled {
  background-color: rgba(131, 179, 211, 0);
}

.catalog-results-container{
  display: grid;
  grid-template-columns: repeat(3,340px);
  max-width: 1060px;
  min-height: 896px;
  margin: 0 auto;
  margin-bottom: 80px;
  gap: 20px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  gap:16px;
  margin:0;
  padding:20px;
  max-width: 340px;
  min-height: 438px;
  color:#000;
  text-align: center;
  border: 1px solid #E6E6E6;
}

.card-third{
  margin-right: 0;
}

.hotel-card-title{
  margin:0;
  padding:0;
  font-size: 24px;
  line-height: 28px;
  color:#000;
  text-decoration: none;
  text-align: left;
}


.hotel-card-picture{
  text-decoration: none;
  padding:0;
  margin:0;
}

.catalog-price{
  display:flex;
  justify-content: space-between;
}

.action-card{
display:flex;
justify-content: space-between;
}

.page-list{
  margin:0 auto;
  padding:0;
  display: flex;
  gap:8px;
  min-height:60px;
  max-width: 1060px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.page-list-item{
  min-width: 60px;
  min-height: 60px;
  padding: 12px 24px;
  background-color: #82B3D3;
  color:#fff;
  border-radius: 4px;
}

.page-list-link{
  color:inherit;
  text-decoration: inherit;
}

.select-default{
  background-color: #f2f2f2;
  color:#000;
}

.space-page{
  background-color: inherit;
  color:#000;
}

.hotel-card-button{
  font-size: 16px;
  line-height: 20px;
  color:#fff;
  text-decoration: none;
  background-color:#756157;
  padding:8px 26px;
  border-radius: 4px;
  text-transform: uppercase;
font-weight: 700;
}

.button-favorite{
  background-color: #82B3D3;
}

.button-favorite-villas{
  background-color: #7DB54F;
}

.rating-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
