@font-face {

  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {

  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;

}

body{

font-family: "PT Sans", sans-serif;
font-size: 18px;
line-height: 21px;
color: #000000;

}

.main-header{

background-color: #ffffff;
color: #000000;

}

.navigation-link{

font-weight: 700;
line-height: 24px;
font-size: 20px;
color: inherit;
text-decoration: none;
text-transform: capitalize;
text-align: center;

}

.main-index{

background-image: url("../images/hills-of-sedona.jpg");
background-repeat: no-repeat;
background-color: #82B3D3;
color: #000000;
background-size: 100% auto;
text-align: center;

}

.h3-title.reasons{

  font-size: 30px;
  line-height: 26px;
  font-weight: 700;

}

.explanation-reasons{

  font-size: 22px;
  line-height: 26px;
  color: #333333;

}

.h3-title{

  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;

}

.light-text{

color:#ffffff;
background:#82B3D3;

}


.subscribe-item{
font-size: 30px;
line-height: 26px;
font-weight: 700;
color:#ffffff;
}
.subscribe-promise{

  font-size: 22px;
  line-height: 26px;
  color:#ffffff;

}

.index-column,.advantages-columns-item{

  background: rgba(131, 179, 211, 0.12);

}

.index-columns-item,{

  background: rgba(131, 179, 211, 0.2);

}

.contacts-phone{


  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color:#000000;
  text-align: center;
  text-decoration: none;
}
