@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

/*main styles*/

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  min-width: 1200px;
  margin: 0 auto;
  height: 100%;
  background-color: #f2f2f2;
}

.main-index {
  flex-grow: 1;
  text-align: center;
}

.main-inner {
  flex-grow: 1;
}

.container-index,
.container-catalog {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fff;
  min-height: 100%;
}

.page-list,.navigation-list,.navigation-list-user,.breadcrumbs,.reasons-list,.advantages-list,.social-club {
  list-style: none;
}

.navigation-link-searched,.navigation-link-likes{
  display:block;
  position: relative;
  min-width:44px;
  min-height:64px;
}

.navigation-link-searched{
  padding: 22px 12px;
}

.navigation-link-likes{
  padding: 24px 13px;
}

.likes{
  display:flex;
  position: absolute;
  background: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  color:#FFF;
  border-radius: 10px;
  left:20px;
  top:10px;
  min-width: 20px;
  min-height: 20px;
  justify-content: center;
  align-items: center;
}

.navigation-link,
.navigation-button-link {
  display: block;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 16px;
  position: relative;
}

.container-index .navigation-main::after,.container-catalog .navigation-main:hover::after{
  content: " ";
  border-bottom: 2px solid #756157;
  min-width: 68px ;
  margin-left:16px;
  position: absolute;
}

.navigation-select-about:hover::after{
  content: " ";
  border-bottom: 2px solid #756157;
  min-width: 82px ;
  margin-left:16px;
  position: absolute;
}

.navigation-select-catalog:hover::after,.container-catalog .navigation-select-catalog::after{
  content: " ";
  border-bottom: 2px solid #756157;
  min-width: 93px ;
  margin-left:16px;
  position: absolute;
}

.button-item-user{
  margin-left:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  min-height:36px;
}

.navigation-link-user {
  display: block;
}

.navigation-button-link {
  padding: 8px;
  color: #fff;
  background-color: #756157;
  border-radius: 4px;
  width:100%;
  height:100%;
}

.navigation-button-link:hover{
  background-color:#615048;
}

.navigation-button-link:focus{
  background-color:#615048;
}

.navigation-button-link:active{
  background-color:#756157;
  color:rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  position: absolute;
  clip-path: inset(100%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.main-header,
.inner-header {
  display: flex;
  max-width: 1060px;
  min-height: 64px;
  margin: 0 auto;
  width: 100%;
}

.navigation {
  display: flex;
  flex-grow: 1;
}
.navigation-list{
  flex-wrap: wrap;
}

.navigation-list,
.navigation-list-user {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-link-logotype {
  margin-right: 28px;
  z-index: 1;
  max-height:64px;
}

/*main*/

.hero {
  background-image: url("../images/hills-of-sedona.jpg");
  background-repeat: no-repeat;
  min-height: 485px;
}

.h2-title,
.searched {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 25px 0;
  padding: 0;
  text-transform: uppercase;
}

.searched {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  align-self: center;
}

.h3-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 62px;
  position: relative;
}

.h3-title::after{
  content: " ";
  display:block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  min-width:60px;
  position: absolute;
  left:85px;
  margin: 30px 0 30px 0;
}

.h3-title-decoration::after{
  border-color: rgba(0, 0, 0, 0.3);
}

.reasons-explanations,
.explanations-advantages,
.search-explanations,
.subscribe-promise {
  font-size: 22px;
  line-height: 26px;
  color: #333;
  padding: 0;
  margin: 0;
}

.reasons-header {
  min-height: 261px;
}

.reasons-header-container {
  padding: 69px 274px;
}

.hills-of-sedona {
  padding-top: 69px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reasons-with-image {
  display: flex;
  background-color: #82B3D3;
  color: #fff;
  min-height: 385px;
}

.reasons-image {
  height: 100%;
}

.reasons-card-secondary,
.advantages-item {
  max-width: 400px;
  min-height: 385px;
}

.reasons-card-secondary,
.advantages-card-secondary {
  background: rgba(131, 179, 211, 0.12);
}

.reasons-card-third {
  width: 400px;
  min-height: 385px;
  background: rgba(131, 179, 211, 0.2);
}

.explanations-card {
  margin: 0;
  padding: 0;
}

.reasons-card-container,
.reasons-card-primary {
  padding: 101px 85px;
  height:100%;
}

.reasons-card-primary p{
  margin: 0;
}

.advantages-header {
  min-height: 246px;
}

.advantages-header-container {
  height: 100%;
  padding: 64px 347px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3,400px);
  padding: 0;
  margin: 0;
}

.advantages-card-container {
  display:flex;
  flex-direction: column;
  padding: 78px 85px;
  height:100%;
  gap:30px;
  align-items: center;
}

.search {
  min-height: 406px;
}

.search-container {
  padding: 96px 304px;
}

.search-explanations {
  margin-bottom: 54px;
}

.search-button-big {
  color: #fff;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.search-button-big:hover{
  background-color: #615048;
}

.search-button-big:focus{
  background-color: #615048;
}

.search-button-big:active{
  color:rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.subscribes {
  min-height: 415px;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  color: #fff;
}

.subscribe-promise {
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  margin: 0 0 54px 0;
  padding: 0;
}

.subscribe-form-container {
  display: flex;
}

.subscribe-container {
  padding: 96px 258px;
}

.h2-subscribe {
  margin-bottom: 20px;
}

.subscribe-email {
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
  border: 0;
}

.subscribe-email:focus,:focus-visible {
  outline: 3px;
}

.subscribe-button {
  font-family: inherit;
  padding: 8px 50px;
  background: #82B3D3;
  color: #fff;
  border-radius: 0 4px 4px 0;
  border: 0;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

/*       footer          */

.main-footer {
  max-height: 120px;
  padding: 40px 70px 30px 70px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1060px;
  min-height: 50px;
}

.vkontakte-link,
.telegram-link,
.youtube-link {
  display: block;
  margin: 13px 12px;
}

.social-club {
  display: flex;
  margin: 0;
  padding: 0;
  align-content: center;
}

.social-icon:hover{
  fill:#68A2CA;
}

.youtube-link:focus .social-icon{
  fill:#68A2CA;
}

.telegram-link:focus .social-icon{
  fill:#68A2CA;
}

.vkontakte-link:focus .social-icon{
  fill:#68A2CA;
}

.youtube-link:active .social-icon{
  fill:rgba(104, 162, 202, 0.3);
}

.telegram-link:active .social-icon{
  fill:rgba(104, 162, 202, 0.3);
}

.vkontakte-link:active .social-icon{
  fill:rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.contacts-phone:hover{
  color:#756157;
}

.logo-academy-icon:hover{
  fill:#756157;
}

.contacts-phone:focus{
  color:#756157;
}

.contacts-phone:active{
  color:rgba(117, 97, 87, 0.3)
}

.link-academy:focus .logo-academy-icon{
  fill:#756157;
}

.link-academy:active .logo-academy-icon{
  fill:rgba(117, 97, 87, 0.3)
}
/*   catalog       */

.header-inner {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.breadcrumbs-link {
  color:#fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:not(:last-child) {
  background-image: url("../images/icons/arrow-breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
  padding-right: 18px;
  margin-right: 10px;
}

.header-inner {
  color: #fff;
  margin-bottom: 50px;
}

.header-inner-title {
  margin: 0 0 8px 0;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
}

.header-inner-container {
  padding: 35px 70px 70px 70px;
}

.catalog-filter {
  display: flex;
  flex-wrap: nowrap;
}

.catalog-filter-group {
  display: flex;
  margin:0;
  padding: 0;
  border: none;
}

.catalog-filter-home{
  flex-grow: 1;
}

.catalog-filter-infrastructure{
  margin-right:70px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0 0 40px 0;
}

.catalog-header {
  display: flex;
  min-width: 338px;
  min-height: 36px;
  justify-content: center;
  max-width:1060px;
  margin: 0 auto;
}

.button {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 8px;
}

.button:hover {
  border: 2px solid #000;
}

.button:focus {
  border: 2px solid #68A2CA;
}

.button:active {
  border: 2px solid #000;
}

.button-image{
  display: block;
  margin: 17px 16px;
}

.button-black{
  border-color: #000;
}

.select-control{
  margin-right: 70px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  min-height:49px;
  min-width: 292px;
}

.select-control:hover{
  border: 2px solid #68A2CA;
}

.select-control:focus{
  border: 2px solid #68A2CA;
}

.button-view{
  margin-bottom:32px;
}

.searched {
  margin: 0;
  flex-grow: 1;
}

.catalog-products {
  display: flex;
  align-items:end;
}

.filter-button {
  display: flex;
  flex-direction: column;
  max-height: 104px;
  margin-top:56px;
}

.catalog-filter-group {
  border-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.control{
  margin-bottom: 16px;
}

.catalog-filter-title{
  margin-bottom:32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog{
  margin-bottom:40px;
}

.catalog-filter-group-price{
  padding:0;
  margin:0 70px 0 0;
  display: flex;
  border-style: none;
  flex-wrap: wrap;max-width: 288px;
}

.min-price-fork-input{
  padding:20px;
  max-width: 143px;
  max-height: 48px;
  border-radius: 4px 0 0 4px;
  border:0;
  color:#000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.min-price-fork-input:hover,
.max-price-fork-input:hover{
background-color:#E6E6E6 ;
}

.min-price-fork-input:focus,
.max-price-fork-input:focus{
background-color: #E6E6E6;
box-shadow: inset 0 0 0 3px #82B3D3;
outline: none;
}

.max-price-fork-input{
  padding:20px;
  max-width: 143px;
  max-height: 48px;
  border-radius:0 4px 4px 0;
  border:0;
  color:#000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.min-price-fork-form,.max-price-fork-form{
  max-height: 48px;
  position:relative;
  margin-right:2px;
}

.price-fork-text{
  position:absolute;
  line-height: 24px;
  color:rgba(0, 0, 0, 0.3);
  z-index: 1;
  right:0;
  padding:12px 20px;
}

.subscribes-inner {
  min-height: 415px;
  text-align: center;
}

.subscribe-inner-container {
  padding: 96px 258px;
}

.subscribe-inner-promise {
  font-size: 22px;
  line-height: 26px;
  color: #333;
  margin: 0 0 54px 0;
  padding: 0;
}

.button-small {
  background-color: #82B3D3;
  border: 0;
  color: #fff;
  border-radius: 4px;
  padding: 8px 50px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.button-cancelled {
  background-color: rgba(131, 179, 211, 0);
}

.button-cancelled:hover{
  color:rgba(255, 255, 255, 0.4);
}

.button-cancelled:focus{
  box-shadow: inset 0 0 0 3px #82B3D3;
  outline: none;
}

.button-cancelled:active{
  color:rgba(255, 255, 255, 0.3);
}

.catalog-results-container{
  display: grid;
  grid-template-columns: repeat(3,340px);
  max-width: 1060px;
  min-height: 896px;
  margin: 0 auto 80px auto;
  gap: 20px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  gap:16px;
  margin:0;
  padding:20px;
  max-width: 340px;
  min-height: 438px;
  color:#000;
  text-align: center;
  border: 1px solid #E6E6E6;
}

.card-third{
  margin-right: 0;
}

.hotel-card-title{
  margin:0;
  padding:0;
  font-size: 24px;
  line-height: 28px;
  color:#000;
  text-decoration: none;
  text-align: left;
}

.hotel-title-link{
  text-decoration: none;
  color:inherit;
}

.catalog-price{
  display:flex;
  justify-content: space-between;
}

.action-card{
display:flex;
justify-content: space-between;
}

.page-list{
  margin:0 auto;
  padding:0;
  display: flex;
  gap:8px;
  min-height:60px;
  max-width: 1060px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.page-list-link{
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: inherit;
  padding: 12px;
  min-width: 60px;
  min-height: 60px;
  background-color: #82B3D3;
  color:#fff;
  border-radius: 4px;
}

.select-default{
  background-color: #f2f2f2;
  color:#000;
}

.space-page{

  background-color: inherit;
  color:#000;
}

.hotel-card-button{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color:#fff;
  text-decoration: none;
  background-color:#756157;
  padding:8px 26px;
  border-radius: 4px;
  text-transform: uppercase;
font-weight: 700;
}

.button-favorite{
  background-color: #82B3D3;
}

.button-favorite-villas{
  background-color: #7DB54F;
}

.rating-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-icon{
  fill: #000;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
}

.advantages-icon{
  color:#83B3D3;
}

.social-icon{
  color:#83B3D3;
}

.breadcrumbs-icon{
  color:#fff;
}

.logo-academy-icon{
  color:#000;
}

.subscribe-button:hover{
  background-color:#68A2CA;
}

.subscribe-button:focus{
  background-color:#68A2CA;
}

.subscribe-button:active{
  color:rgba(255, 255, 255, 0.3);
}


.next-page:hover{
  background-color:#68A2CA;
  box-shadow: inset 0 0 0 1px #82B3D3;
  outline: none;
  border-radius: 4px;
}

.next-page:focus{
  background-color:#68A2CA;
  box-shadow: inset 0 0 0 1px #82B3D3;
  outline: none;
  border-radius: 4px;
}

.next-page:active{
  background-color:#82B3D3;
  color:rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.select-default:hover{
  background-color: #f2f2f2;
}

.space-page:hover{
  background-color: #fff;
}

.button-view:hover{
  background:#68A2CA;
}

.button-view:focus{
  background:#68A2CA;
  color:rgba(255, 255, 255, 0.3)
}

.button-favorite:hover{
  background-color: #68A2CA;
}

.button-favorite:focus{
  background-color: #68A2CA;
}

.button-favorite:active{
  background-color: #82B3D3;
  color:rgba(255, 255, 255, 0.3);
}

.button-favorite-villas:hover{
  background-color: #6C9E42;
}

.button-favorite-villas:focus{
  background-color: #6C9E42;
}

.button-favorite-villas:active{
  background-color: #7DB54F;
  color:rgba(255, 255, 255, 0.3);
}

.button-about:hover{
 background-color: #615048;
}

.button-about:focus{
  background-color: #615048;
}

.button-about:active{
  background-color: #756157;
  color:rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover{
  color:rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus{
  color:#fff;
}

.breadcrumbs-link:active{
  color:rgba(255, 255, 255, 0.3);
}

.stars-rating{
  height:17px;
  margin:auto 0;
  width:89px;
  background-image: url("../images/icons/star.svg");
  background-repeat: space no-repeat;
}

.stars-of-product-1{
  width:18px;
}

.stars-of-product-2{
  width:42px;
}

.stars-of-product-3{
  width:66px;
}

.stars-of-product-4{
  width:89px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.checkbox-decoration{
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.control-input:checked + .checkbox-decoration{
  background-image: url("../images/icons/check-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control:hover{
opacity: 0.6;
}

.control:active{
  opacity: 0.3;
  }

.checkbox-decoration:focus{
  box-shadow: inset 0 0 0 3px #82B3D3;
  outline: none;
  }

.radio-decoration{
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.control-input:checked + .radio-decoration{
  background-image: url("../images/icons/point.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.price-fork-container{
  display:flex;
  max-height: 48px;
  max-width: 288px;
}

.range {
  height:4px;
  width: 287px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar{
  height:4px;
  width: 190px;
  background-color: #fff;
  position: absolute;
}

.range-toggle{
  width:20px;
  height:20px;
  position: relative;
  bottom:15px;
}

.range-toggle:hover{
  box-shadow: 25%;
}

.range-toggle:focus{
  box-shadow: outset 0 0 0 3px #82B3D3;
  outline: none;
}

.range-toggle:active{
  border:  3px  solid #82B3D3;
  outline: none;
}

.toggle-min{
  border-radius: 5px;
  border:0;
}

.toggle-max{
  left: 159px;
  border-radius: 5px;
  border:0;
}
