@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden{
display: none;
}

.container-index{
  background-color: #fff;
}

html{
  height: 100%;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.navigation-link{
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

.navigation-link-user{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

.main-index{

  background-image: url("../images/hills-of-sedona.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.h2-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.explanations-reasons,.search-explanations{
  font-size: 22px;
  line-height: 26px;
  color: #333;
}

.explanations-card{
  color: #333;
}

.h3-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-card-primary{
  color: #fff;
  background-color: #82B3D3;
  text-align: center;
  padding: 112.5px 40px;
}

.reasons-card-secondary{
  background: rgba(131, 179, 211, 0.12);
}

.reasons-card{
  background: rgba(131, 179, 211, 0.2);
}

.subscribes{
  color: #fff;
  width: 1200px;
  height: 415px;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.subscribe-promise{
  font-size: 22px;
  line-height: 26px;
}

.contacts-phone{
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color:#000000;
  text-align: center;
  text-decoration: none;
}



/*     catalog.html        */

.header-inner-title{
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 21px;
}

.header-inner{
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.hotel-card-picture{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.button-small{
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}


/*     flex-container       */

/*     navigation           */

.navigation{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list{
  width: 614px;
  margin: 0;
  padding: 0;
}

.navigation-list-user{
  width: 308px;
  margin-left: auto;
}
/*        main             */

.page-container{
  width: 1200px;
  margin: 0 auto;
}

.hills-of-sedona{
  display: block;
  margin: 0 auto;
}

.reasons-list,.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reasons-item,.advantages-item{
  width: 400px;
  height: 385px;
}

.reasons-with-image{
  display: flex;
  width: 1200px;
}

.reasons-card-container,.advantages-card-container{
  padding: 112px 40px;
}

/*     footer     */

.main-footer{
  width:1200px;
  height: 120px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  width: 1060px;
  height: 50px;
  margin: 0 auto;
}

.social-club {
 /* display: flex;*/
  width: 142px;
}

.contacts-container{
  margin-left: 41px;
  width:720px;
}

.link-academy-container{
  margin-left: 41px;
  width: 115px;
}

/*         catalog flex     */


.main-inner{
width: 1200px;
margin: 0 auto;
}

.navigation-logotype{
  width: 140px;
  margin-right: 28px;
  margin-left: 70px;
}

.catalog-products{
  display: flex;
}

.breadcrumbs{
  display: flex;
}

.catalog-filter{
display: flex;
}

.catalog{
display: flex;
flex-wrap: wrap;
}

.catalog-item{
  margin-right: 20px;
}
